$light-blue: #bedcfa;
$blue: #98acf8;
$purple: #b088f9;
$light-purple: #da9ff9;
$font-family-base: 'Josefin Sans', sans-serif;
$font-secondary: 'Rubik', sans-serif;
$secondary: $light-blue;

$primary: $blue;

// Nav
$navbar-light-hover-color: $primary;
$nav-link-hover-color: $primary;

